pkgbase = libcron
	pkgdesc = A C++ scheduling library using cron formatting.
	pkgver = 1.3.3
	pkgrel = 1
	url = https://github.com/PerMalmberg/libcron
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = cmake
	conflicts = libcron-git
	options = !strip
	source = libcron-1.3.3.tar.gz::https://github.com/PerMalmberg/libcron/archive/refs/tags/v1.3.3.tar.gz
	source = date-3.0.4.tar.gz::https://github.com/HowardHinnant/date/archive/refs/tags/v3.0.4.tar.gz
	sha256sums = 7d413b7950c82b54157b2a7f446e1e660bd718e542e2ffd3f8715e467ab2b825
	sha256sums = 56e05531ee8994124eeb498d0e6a5e1c3b9d4fccbecdf555fe266631368fb55f

pkgname = libcron
